@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    padding: 0;
    margin: 0;
    border: 0;

    text-decoration: none;
    box-sizing: border-box;
    user-select: none;
}

:root {
    --bg-body: #E1D4C9;
    --bg-container: #665F55;
    --bg-backdrop: #403F3D;

    --text-dark: #403F3D;
    --text-light: #E1D4C9;
    --text-accent: #B0907A;

    --border-light: #C1B6AD;
    --border-dark: #665F55;
}

body {
    background-color: var(--bg-body);
    color: var(--text-dark);
}

.page {
    width: 144rem;
    margin: 0 auto;
    padding: 2rem 4rem 4rem;
}

/*HEADER-TOP*/

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.logo-img {
    display: block;
}

.nav-list {
    display: flex;
}

.nav-item {
    list-style: none;
    margin-right: 4rem;
}

.nav-item:first-child {
    width: 11.7rem;
}

.nav-item:nth-child(2) {
    width: 4.8rem;
}

.nav-item:nth-child(3) {
    width: 8.6rem;
}

.nav-item:last-child {
    width: 8.5rem;
    margin-right: 0rem;
}

.nav-item-link {
    display: block;
    font-feature-settings: 'clig' off, 'liga' off;
    padding-bottom: 0.2rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-dark);
    line-height: 150%;
    text-align: center;
    border-bottom: 0.2rem solid rgba(65, 64, 62, 0);
    transition: all .3s;
}

.nav-item-link:hover {
    border-bottom: 0.2rem solid rgb(65, 64, 62);
}

.header-menu {
    display: flex;
    width: 7.2rem;
    height: 2.8rem;
    justify-content: space-between;
    border-bottom: 0.2rem solid rgba(65, 64, 62, 0);
    transition: all .3s;
}

.header-menu:hover {
    border-bottom: 0.2rem solid rgb(65, 64, 62);
}

.header-menu-link {
    font-feature-settings: 'clig' off, 'liga' off;
    width: 4.4rem;
    height: 2.4rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-dark);
    line-height: 150%;
    text-align: center;
}

.header-menu-img {
    display: block;
    height: 2rem;
}

/*HEADER-CONTENT*/

.header-content {
    max-width: 136rem;
    min-height: 64.4rem;
    border-radius: 4rem;
    background: url(/coffee-house/assets/images/header/header-bg.jpg) , lightgray 50% / cover no-repeat;
    padding: 10rem;
    margin-bottom: 10rem;
}

.header-title {
    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;
    width: 53rem;
    height: 22.8rem;
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 1.05;
    margin-bottom: 4rem;
}

.header-title span{
    color: var(--text-accent, #B0907A);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 72px;
    font-style: italic;
    font-weight: 600;
    line-height: 1.05;
}

.header-text {
    width: 53rem;
    height: 7.2rem;
    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 4rem;
}

.header-btn {
    width: 20rem;
    height: 6.4rem;
    border-radius: 100px;
    background: var(--bg-body, #E1D4C9);

    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 150%;

    cursor: pointer;
}

/*FAVORITE*/

.favorite {
    width: 136rem;
    height: 79.9rem;

    margin-bottom: 10rem;
}

.favorite-title {
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;

    margin-bottom: 4rem;
}

.favorite-title span{
    color: var(--text-accent, #B0907A);
    font-size: 60px;
    font-style: italic;
}

.slider-window {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 4rem;
}

.slider-right-btn {
    display: block;
    width: 6rem;
    height: 6rem;
    margin-left: 4rem;
}

.slider-left-btn {
    display: block;
    width: 6rem;
    height: 6rem;
    margin-right: 4rem;
    transform: rotate(180deg);
}

.slider-center {
    width: 115.2rem;
    height: 64rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide-photo {
    width: 48rem;
    height: 48rem;
    margin-bottom: 2rem;
}

.slide-title {
    width: 48rem;
    height: 3rem;

    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;

    margin-bottom: 1.6rem;
}

.slide-text {
    width: 48rem;
    height: 4.8rem;

    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

    margin-bottom: 1.6rem;
}

.slide-price {
    width: 48rem;
    height: 3rem;

    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

.slider-control {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.slider-control-1,
.slider-control-2,
.slider-control-3 {
    width: 4rem;
    height: 0.4rem;
    border-radius: 100px;
    background: var(--border-light, #C1B6AD);
}

.slider-control-active {
    background: var(--border-dark, #665F55);
}

/*ABOUT*/

.about {
    /* width: 136rem; */
    /* height: 132.5rem; */
}

.about-title {
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;

    margin-bottom: 4rem;
}

.about-title span{
    color: var(--text-accent, #B0907A);
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Inter;
    font-size: 60px;
    font-style: italic;
    font-weight: 600;
    line-height: 125%;
}

.about-content {
    display: flex;
    gap: 4rem;
}

.about-item-left,
.about-item-right {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.about-item {
    border-radius: 2rem;
    background-size: 72.6rem 72.6rem;
    transition: all .3s ease;
}

.about-item:hover {
    background-size: 65.34rem 65.34rem;
}

.about-item-1 {
    width: 66rem;
    height: 59rem;
    background-image: url(/coffee-house/assets/images/about/about-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.about-item-4 {
    width: 66rem;
    height: 59rem;
    background-image: url(/coffee-house/assets/images/about/about-4.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.about-item-2 {
    width: 66rem;
    height: 43rem;
    background-image: url(/coffee-house/assets/images/about/about-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.about-item-3 {
    width: 66rem;
    height: 43rem;
    background-image: url(/coffee-house/assets/images/about/about-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
}


