@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    padding: 0;
    margin: 0;
    border: 0;

    text-decoration: none;
    box-sizing: border-box;
    user-select: none;
}

:root {
    --bg-body: #E1D4C9;
    --bg-container: #665F55;
    --bg-backdrop: #403F3D;

    --text-dark: #403F3D;
    --text-light: #E1D4C9;
    --text-accent: #B0907A;

    --border-light: #C1B6AD;
    --border-dark: #665F55;
}

body {
    background-color: var(--bg-body);
    color: var(--text-dark);
}

.page {
    width: 144rem;
    margin: 0 auto;
    padding: 2rem 4rem 4rem;
}

/*HEADER-TOP*/

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.logo-img {
    display: block;
}

.nav-list {
    display: flex;
}

.nav-item {
    list-style: none;
    margin-right: 4rem;
}

.nav-item:first-child {
    width: 11.7rem;
}

.nav-item:nth-child(2) {
    width: 4.8rem;
}

.nav-item:nth-child(3) {
    width: 8.6rem;
}

.nav-item:last-child {
    width: 8.5rem;
    margin-right: 0rem;
}

.nav-item-link {
    display: block;
    font-feature-settings: 'clig' off, 'liga' off;
    padding-bottom: 0.2rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-dark);
    line-height: 150%;
    text-align: center;
    transition: all .2s;
    border-bottom: 0.2rem solid rgba(65, 64, 62, 0);
}

.nav-item-link:hover {
    border-bottom: 0.2rem solid rgb(65, 64, 62);
}

.header-menu {
    display: flex;
    width: 7.2rem;
    height: 2.8rem;
    justify-content: space-between;
}

.header-menu-link {
    font-feature-settings: 'clig' off, 'liga' off;
    width: 4.4rem;
    height: 2.4rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-dark);
    line-height: 150%;
    text-align: center;
}

.header-menu-img {
    display: block;
    height: 2rem;
}

/*HEADER-CONTENT*/

.header-content {
    max-width: 136rem;
    min-height: 64.4rem;
    border-radius: 4rem;
    background: url(/coffee-house/assets/images/header-bg.jpg) , lightgray 50% / cover no-repeat;
    padding: 10rem;
}

.header-title {
    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;
    width: 53rem;
    height: 22.8rem;
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 1.05;
    margin-bottom: 4rem;
}

.header-title span{
    color: var(--text-accent, #B0907A);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 72px;
    font-style: italic;
    font-weight: 600;
    line-height: 1.05;
}

.header-text {
    width: 53rem;
    height: 7.2rem;
    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 4rem;
}

.header-btn {
    width: 20rem;
    height: 6.4rem;
    border-radius: 100px;
    background: var(--bg-body, #E1D4C9);

    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 150%;

    cursor: pointer;
}