@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*, ::before, ::after {
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    padding: 0;
    margin: 0;
    border: 0;

    text-decoration: none;
    box-sizing: border-box;
    user-select: none;
}

:root {
    --bg-body: #E1D4C9;
    --bg-container: #665F55;
    --bg-backdrop: #403F3D;

    --text-dark: #403F3D;
    --text-light: #E1D4C9;
    --text-accent: #B0907A;

    --border-light: #C1B6AD;
    --border-dark: #665F55;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-body);
    color: var(--text-dark);
}

.page {
    width: 144rem;
    margin: 0 auto;
    padding: 2rem 4rem 4rem;
    opacity: 0;
    transition: .3s ease-in;
}

/*HEADER-TOP*/

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.logo-img {
    display: block;
    width: 10rem;
    height: 6rem;
    cursor: pointer;
}

.logo-img::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/images/header/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    transition: .3s ease-in-out;
}

.logo-img:focus::after {
    transform: rotate3d(0, 0, 1, 360deg);
}

.nav-list {
    display: flex;
}

.nav-item {
    list-style: none;
    margin-right: 4rem;
}

.nav-item:first-child {
    width: 11.7rem;
}

.nav-item:nth-child(2) {
    width: 4.8rem;
}

.nav-item:nth-child(3) {
    width: 8.6rem;
}

.nav-item:last-child {
    width: 8.5rem;
    margin-right: 0rem;
}

.nav-item-link {
    display: block;
    font-feature-settings: 'clig' off, 'liga' off;
    padding-bottom: 0.2rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-dark);
    line-height: 150%;
    text-align: center;
    transition: all .3s;
}

.nav-item-link::after {
    content: "";
    display: block;
    width: 100%;
    height: .2rem;
    background-color: rgb(65, 64, 62);
    transform: scale(0);
    transition: all .2s ease;
}

.nav-item-link:hover::after{
    transform: scale(1);
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    width: 7.2rem;
    height: 2.8rem;
    justify-content: space-between;
    transition: all .3s;
}

.header-menu::after {
    content: "";
    display:block;
    width: 100%;
    height: .2rem;
    background-color: rgb(65, 64, 62);
    transform: scale(0);
    transition: all .2s ease;
}

.header-menu:hover::after {
    transform: scale(1);
}

.header-menu-link {
    font-feature-settings: 'clig' off, 'liga' off;
    width: 4.4rem;
    height: 2.4rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-dark);
    line-height: 150%;
    text-align: center;
}

.header-menu-img {
    display: block;
    height: 2rem;
}

/*HEADER-CONTENT*/

.header-content {
    max-width: 136rem;
    min-height: 64.4rem;
    border-radius: 4rem;
    background: url(../../assets/images/header/header-bg.jpg) , lightgray 50% / cover no-repeat;
    padding: 10rem;
    margin-bottom: 10rem;
}

.header-title {
    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;
    width: 53rem;
    height: 22.8rem;
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 1.05;
    margin-bottom: 4rem;
}

.header-title span{
    color: var(--text-accent, #B0907A);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 7.2rem;
    font-style: italic;
    font-weight: 600;
    line-height: 1.05;
}

.header-text {
    width: 53rem;
    height: 7.2rem;
    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 4rem;
}

.header-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 6.4rem;
    border-radius: 10rem;
    background: var(--bg-body, #E1D4C9);
    transition: all .3s ease;
    cursor: pointer;
}

.header-btn:hover .header-btn-img{
    width: 2rem;
    height: 2rem;
    margin-left: .8rem;
}

.header-btn-text {
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 150%;
    transition: all .3s ease;
}

.header-btn-img {
    display: block;
    width: 0rem;
    height: 0rem;
    margin-left: .0rem;
    transition: all .3s ease;
}

/*FAVORITE*/

.favorite {
    width: 136rem;
    height: 79.9rem;

    margin-bottom: 10rem;
}

.favorite-title {
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 6rem;
    font-weight: 600;
    line-height: 125%;

    margin-bottom: 4rem;
}

.favorite-title span{
    color: var(--text-accent, #B0907A);
    font-size: 6rem;
    font-style: italic;
}

.slider-window {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.slider-left-btn,
.slider-right-btn {
    background-color: transparent;
    cursor: pointer;
    display: block;
    width: 6rem;
    height: 6rem;
}

.slider-left-btn {
    margin-right: 4rem;
}

.slider-right-btn {
    margin-left: 4rem;
}

.slider-left-btn-svg,
.slider-right-btn-svg {
    fill: #665f5500;
    transition: all .3s ease;
}

.slider-left-btn-svg:hover,
.slider-right-btn-svg:hover {
    fill: #665F55;
}

.slider-left-btn-svg path,
.slider-right-btn-svg path {
    stroke: #403F3D;
    transition: all .3s ease;
}

.slider-left-btn-svg:hover path,
.slider-right-btn-svg:hover path {
    stroke: #E1D4C9;
}

.slider-center {
    width: 115.2rem;
    height: 64rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide-photo {
    width: 48rem;
    height: 48rem;
    margin-bottom: 2rem;
}

.slide-title {
    width: 48rem;
    height: 3rem;

    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Inter;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;

    margin-bottom: 1.6rem;
}

.slide-text {
    width: 48rem;
    height: 4.8rem;

    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

    margin-bottom: 1.6rem;
}

.slide-price {
    width: 48rem;
    height: 3rem;

    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Inter;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

.slider-control {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
}

.slider-control-1,
.slider-control-2,
.slider-control-3 {
    width: 4rem;
    height: 0.4rem;
    border-radius: 10rem;
    background: var(--border-light, #C1B6AD);
    /* cursor: pointer; */
}

.slider-control-active {
    background: var(--border-dark, #665F55);
}

/*ABOUT*/

.about {
    margin-bottom: 10rem;
}

.about-title {
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Inter;
    font-size: 6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;

    margin-bottom: 4rem;
}

.about-title span{
    color: var(--text-accent, #B0907A);
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Inter;
    font-size: 6rem;
    font-style: italic;
    font-weight: 600;
    line-height: 125%;
}

.about-content {
    display: flex;
    gap: 4rem;
}

.about-item-left,
.about-item-right {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.about-item {
    border-radius: 2rem;
    background-size: 72.6rem 72.6rem;
    transition: all .3s ease;
}

.about-item:hover {
    background-size: 65.34rem 65.34rem;
}

.about-item-1 {
    width: 66rem;
    height: 59rem;
    background-image: url(../../assets/images/about/about-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.about-item-4 {
    width: 66rem;
    height: 59rem;
    background-image: url(../../assets/images/about/about-4.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.about-item-2 {
    width: 66rem;
    height: 43rem;
    background-image: url(../../assets/images/about/about-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.about-item-3 {
    width: 66rem;
    height: 43rem;
    background-image: url(../../assets/images/about/about-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

/*MOBILE*/

.mobile {
    width: 136rem;
    height: 63rem;
    display: flex;
    gap: 10rem;
    align-items: center;
    margin-bottom: 10rem;
}

.mobile-title {
    width: 63rem;
    height: 15rem;
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    margin-bottom: 4rem;
}

.mobile-title span{
    color: var(--text-accent, #B0907A);
    font-style: italic;
    font-size: 6rem;
    font-weight: 600;
    line-height: 125%;
}

.mobile-text {
    width: 63rem;
    height: 4.8rem;
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 4rem;
}

.mobile-btns {
    display: flex;
    gap: 2rem;
}

.mobile-btn {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 20rem;
    height: 6.4rem;
    border-radius: 10rem;
    border: .1rem solid var(--border-dark, #665F55);
    padding: 1.2rem 2rem;
    gap: .8rem;
    background-color: transparent;
    transition: all .3s ease-in-out;
}

.mobile-btn-svg path {
    transition: all .3s ease-in-out;
}

.mobile-bt-svg {
    transition: all .3s ease-in-out;
}

.mobile-btn:hover {
    background-color: #665F55;
}

.mobile-btn:hover .mobile-btn-suptitle,
.mobile-btn:hover .mobile-btn-title {
    color: #E1D4C9
}

.mobile-btn:hover .mobile-btn-svg path {
    fill: #E1D4C9;
}

.mobile-btn-txt {
    gap: .2rem
}

.mobile-btn-suptitle {
    color: var(--text-dark, #403F3D);
    text-align: start;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    transition: all .3s ease-in-out;
}

.mobile-btn-title {
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    transition: all .3s ease-in-out;
}

.mobile-right {
    width: 63rem;
    height: 63rem;
    background-image: url(../../assets/images/mobile/mobile-screens.png);
    background-color: lightgray 50%;
    background-repeat: no-repeat;
    background-position: center;
}

/*FOOTER*/

svg path {
    transition: all .3s ease;
}

.footer {
    display: flex;
    max-width: 136rem;
    padding: 10rem;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    align-self: stretch;

    border-radius: 4rem;
    background: var(--bg-container, #665F55);
}

.footer-offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
    flex: 1 0 0;
}

.footer-title {
    align-self: stretch;
}

.footer-title-text-1 {
    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

.footer-title-text-2 {
    color: var(--text-accent, #B0907A);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 6rem;
    font-style: italic;
    font-weight: 600;
    line-height: 125%;
}

.socials {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.footer-twitter {
    display: flex;
    width: 6rem;
    height: 6rem;
    justify-content: center;
    align-items: center;

    border-radius: 10rem;
    border: .1rem solid var(--border-light, #C1B6AD);

    background-color: transparent;
    transition: all .3s ease;
    cursor: pointer;
}

.footer-twitter:hover,
.footer-twitter:hover svg path {
    background-color: #E1D4C9;
    stroke: #403F3D;
}

.footer-instagram {
    display: flex;
    width: 6rem;
    height: 6rem;
    justify-content: center;
    align-items: center;

    border-radius: 10rem;
    border: .1rem solid var(--border-light, #C1B6AD);

    background-color: transparent;
    transition: all .3s ease;
    cursor: pointer;
    /* margin: 0; */
}

.footer-instagram:hover,
.footer-instagram:hover svg path {
    background-color: #E1D4C9;
    stroke: #403F3D;
}

.footer-facebook {
    display: flex;
    width: 6rem;
    height: 6rem;
    justify-content: center;
    align-items: center;

    border-radius: 10rem;
    border: .1rem solid var(--border-light, #C1B6AD);

    background-color: transparent;
    transition: all .3s ease;
    cursor: pointer;
}

.footer-facebook:hover,
.footer-facebook:hover svg path {
    background-color: #E1D4C9;
    stroke: #403F3D;
}

.footer-info {
    width: 53rem;
    height: 18.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4rem;
    flex: 1 0 0;
}

.footer-info-title {
    width: 53rem;
    height: 3rem;
    align-self: stretch;

    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Inter;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

.footer-contacts {
    width: 26.2rem;
    height: 11.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.6rem;
}

.contacts-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .2rem;
    list-style: none;
}

.contacts-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: .8rem;
}

.contacts-item::after {
    content: "";
    width: 100%;
    height: .2rem;
    background-color: #E1D4C9;
    transition: .3s ease-in-out;
    transform: scale(0);
}

.contacts-item:hover::after {
    transform: scale(1);
}

.contacts-item:last-child {
    pointer-events: none;
}

.contacts-svg {
    width: 2rem;
    height: 2rem;
}

.contacts-text {
    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}