@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --main-color-0: rgb(0, 0, 0);
  --main-color-1: rgb(68, 0, 255);
  --main-color-2: rgb(161, 126, 255);
  --main-color-3: rgb(255, 255, 255);
  --text-color-0: rgb(0, 0, 0);
  --text-color-1: rgb(68, 68, 68);
  --text-color-2: rgb(125, 125, 125);
  --text-color-3: rgb(255, 255, 255);
}

*,
::before,
::after {
  font-family: 'Inter', sans-serif;
  font-size: 10px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
.body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  background-color: var(--main-color-2);
  padding: 0 2rem;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.game-box {
  min-width: 20rem;
  min-height: 20rem;
  border: 2px solid var(--main-color-0);
  display: grid;
}

.menu-panel {
  min-width: 10rem;
  min-height: 10rem;
  border: 2px solid var(--main-color-0);
}

.top-panel {
  min-width: 10rem;
  min-height: 10rem;
  display: grid;
}

.left-panel {
  min-width: 10rem;
  min-height: 10rem;
  display: grid;
}

.game-field {
  min-width: 10rem;
  min-height: 10rem;
  display: grid;
}

.top-frame,
.left-frame,
.game-frame {
  min-width: 10rem;
  min-height: 10rem;
  border: 1px solid var(--main-color-0);

  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.top-cell,
.left-cell,
.game-cell {
  min-width: 2rem;
  min-height: 2rem;
  border: 1px solid var(--main-color-0);
  font-size: 1.4rem;
  font-weight: 900;
  text-align: center;
}
.active-cell {
  background-color: var(--main-color-0);
}
