@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --main-color-0: rgb(0, 0, 0);
  --main-color-1: rgb(68, 68, 68);
  --main-color-2: rgb(125, 125, 125);
  --main-color-3: rgb(255, 255, 255);
  --text-color-0: rgb(0, 0, 0);
  --text-color-1: rgb(68, 68, 68);
  --text-color-2: rgb(125, 125, 125);
  --text-color-3: rgb(255, 255, 255);

  /* --main-color-0: rgb(72, 0, 255);
  --main-color-2: rgb(122, 69, 255);
  --main-color-3: rgb(183, 155, 255);
  --text-color-0: rgb(72, 0, 255);
  --text-color-2: rgb(122, 69, 255);
  color: chocolate; */
}

*,
::before,
::after {
  font-family: 'Inter', sans-serif;
  font-size: 10px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
.body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  padding: 0 2rem;
  opacity: 0;
  transition: all 0.3s ease-in-out;

  background-color: var(--main-color-3);
  color: var(--text-color-0);
}

.results-block,
.options-block {
  width: 36rem;
  height: 42rem;
  font-size: 4rem;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  padding: 2rem;
  border-radius: 0.5rem;

  border: 0.3rem solid var(--main-color-0);
}

.main-menu-block {
  width: 36rem;
  height: 42rem;
  font-size: 4rem;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  padding: 2rem;
  border-radius: 0.5rem;

  border: 0.3rem solid var(--main-color-0);
}

.menu-point {
  width: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 3.5rem;
  font-weight: 900;
  transition: all 0.3s all;
}
.results-back,
.options-back {
  margin-top: 5rem;
}

.results-list {
  width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-y: scroll;
}

.results-list::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.results-line {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.results-line-time {
  display: flex;
  justify-content: center;
  align-items: center;
}

.res-text {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-point:hover:not(.mp-inactive) {
  text-decoration: underline;
}

.mp-inactive {
  pointer-events: none;
  cursor: default;

  color: var(--text-color-2);
}

.game-box {
  display: grid;
  transition: all 0.3s ease-in-out;

  border: 0.2rem solid var(--main-color-0);
  border-right: 0.1rem solid var(--main-color-0);
}

.display-none {
  display: none;
}

.opacity-0 {
  opacity: 0;
}

.menu-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-weight: 900;

  border: 0.2rem solid var(--main-color-0);
}

.menu-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 2rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  border: 0.2rem solid var(--main-color-0);
}

.game-timer {
  width: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;

  border: 0.2rem solid var(--main-color-0);
}

.timer-min {
  width: 2.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
}

.timer-colon {
  width: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.timer-sec {
  width: 2.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
}

.menu-btn {
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  border: 0.2rem solid var(--main-color-0);
}

.reset-btn {
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  border: 0.2rem solid var(--main-color-0);
}

.next-btn {
  background-color: var(--main-color-2);
}

.menu-title:hover,
.menu-btn:hover,
.reset-btn:hover {
  background-color: var(--main-color-2);
}

.top-panel {
  display: grid;
  border: 0.1rem solid var(--main-color-0);
}

.left-panel {
  display: grid;
  border: 0.1rem solid var(--main-color-0);
}

.game-panel {
  display: grid;
  border: 0.1rem solid var(--main-color-0);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid var(--main-color-0);
}

.game-cell {
  cursor: pointer;
}

.game-cell-inactive {
  pointer-events: none;
  cursor: default;
}

.border-bottom {
  border-bottom: 0.2rem solid var(--main-color-0);
}

.top-cell:nth-child(5n),
.game-cell:nth-child(5n) {
  border-right: 0.2rem solid var(--main-color-0);
}

.size-3 {
  min-width: 10rem;
  min-height: 10rem;
  font-size: 2rem;
  font-weight: 900;
}

.size-5 {
  min-width: 5.5rem;
  min-height: 5.5rem;
  font-size: 2rem;
  font-weight: 900;
}

.size-8 {
  min-width: 3.5rem;
  min-height: 3.5rem;
  font-size: 2rem;
  font-weight: 900;
}

.active-cell {
  transition: all 0.3s ease-in-out;
  background-color: var(--main-color-2);
}

.winner-cell {
  transition: all 0.3s ease-in-out;
  background-color: var(--main-color-0);
}

/*
  .game-box {
  border: 2px solid var(--main-color-0);
  display: grid;
}

.menu-panel {
  border: 2px solid var(--main-color-0);
}

.top-panel {
  display: grid;
}

.left-panel {
  display: grid;
}

.game-field {
  display: grid;
}

.top-frame,
.left-frame,
.game-frame {
  border: 1px solid var(--main-color-0);

  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.cell-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 8rem;
  min-height: 8rem;
  border: 1px solid var(--main-color-0);
  font-size: 2rem;
  font-weight: 900;
}

.cell-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 5rem;
  min-height: 5rem;
  border: 1px solid var(--main-color-0);
  font-size: 2rem;
  font-weight: 900;
}

.cell-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 3rem;
  min-height: 3rem;
  border: 1px solid var(--main-color-0);
  font-size: 2rem;
  font-weight: 900;
}
.active-cell {
  background-color: var(--main-color-0);
}

@media (max-width: 800px) {
  .cell-1 {
    min-width: 7rem;
    min-height: 7rem;
  }
  .cell-2 {
    min-width: 4rem;
    min-height: 4rem;
  }
  .cell-3 {
    min-width: 2.7rem;
    min-height: 2.7rem;
  }
}

@media (max-width: 700px) {
  .cell-1 {
    min-width: 6rem;
    min-height: 6rem;
  }
  .cell-2 {
    min-width: 3rem;
    min-height: 3rem;
  }
  .cell-3 {
    min-width: 2.2rem;
    min-height: 2.2rem;
    font-size: 1.6rem;
  }
}

@media (max-width: 600px) {
  .cell-1 {
    min-width: 5rem;
    min-height: 5rem;
  }
  .cell-2 {
    min-width: 3rem;
    min-height: 3rem;
  }
  .cell-3 {
    min-width: 2rem;
    min-height: 2rem;
    font-size: 1.4rem;
  }
}

@media (max-width: 500px) {
  .cell-1 {
    min-width: 4rem;
    min-height: 4rem;
  }
  .cell-2 {
    min-width: 2.5rem;
    min-height: 2.5rem;
  }
  .cell-3 {
    min-width: 1.6rem;
    min-height: 1.6rem;
    font-size: 1.2rem;
  }
}

@media (max-width: 400px) {
  .cell-1 {
    min-width: 3rem;
    min-height: 3rem;
  }
  .cell-2 {
    min-width: 2rem;
    min-height: 2rem;
    font-size: 1.6rem;
  }
  .cell-3 {
    min-width: 1.3rem;
    min-height: 1.3rem;
    font-size: 1rem;
  }
}
*/
