@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --main-color-0: rgb(0, 0, 0);
  --main-color-1: rgb(68, 0, 255);
  --main-color-2: rgb(161, 126, 255);
  --main-color-3: rgb(255, 255, 255);
  --text-color-0: rgb(0, 0, 0);
  --text-color-1: rgb(68, 68, 68);
  --text-color-2: rgb(125, 125, 125);
  --text-color-3: rgb(255, 255, 255);
}

*,
::before,
::after {
  font-family: 'Inter', sans-serif;
  font-size: 10px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
.body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  background-color: var(--main-color-2);
  padding: 0 2rem;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.game-box {
  border: 1px solid var(--main-color-0);
  display: grid;
}

.menu-panel {
  border: 1px solid var(--main-color-0);
}

.top-panel {
  border: 1px solid var(--main-color-0);
  display: grid;
}

.left-panel {
  border: 1px solid var(--main-color-0);
  display: grid;
}

.game-panel {
  border: 1px solid var(--main-color-0);
  display: grid;
}

.cell {
  border: 1px solid var(--main-color-0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.size-3 {
  min-width: 4rem;
  min-height: 4rem;
  font-size: 2rem;
  font-weight: 900;
}

.size-5 {
  min-width: 4rem;
  min-height: 4rem;
  font-size: 2rem;
  font-weight: 900;
}

.size-8 {
  min-width: 4rem;
  min-height: 4rem;
  font-size: 2rem;
  font-weight: 900;
}

.active-cell {
  background-color: var(--main-color-0);
}

/*
  .game-box {
  border: 2px solid var(--main-color-0);
  display: grid;
}

.menu-panel {
  border: 2px solid var(--main-color-0);
}

.top-panel {
  display: grid;
}

.left-panel {
  display: grid;
}

.game-field {
  display: grid;
}

.top-frame,
.left-frame,
.game-frame {
  border: 1px solid var(--main-color-0);

  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.cell-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 8rem;
  min-height: 8rem;
  border: 1px solid var(--main-color-0);
  font-size: 2rem;
  font-weight: 900;
}

.cell-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 5rem;
  min-height: 5rem;
  border: 1px solid var(--main-color-0);
  font-size: 2rem;
  font-weight: 900;
}

.cell-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 3rem;
  min-height: 3rem;
  border: 1px solid var(--main-color-0);
  font-size: 2rem;
  font-weight: 900;
}
.active-cell {
  background-color: var(--main-color-0);
}

@media (max-width: 800px) {
  .cell-1 {
    min-width: 7rem;
    min-height: 7rem;
  }
  .cell-2 {
    min-width: 4rem;
    min-height: 4rem;
  }
  .cell-3 {
    min-width: 2.7rem;
    min-height: 2.7rem;
  }
}

@media (max-width: 700px) {
  .cell-1 {
    min-width: 6rem;
    min-height: 6rem;
  }
  .cell-2 {
    min-width: 3rem;
    min-height: 3rem;
  }
  .cell-3 {
    min-width: 2.2rem;
    min-height: 2.2rem;
    font-size: 1.6rem;
  }
}

@media (max-width: 600px) {
  .cell-1 {
    min-width: 5rem;
    min-height: 5rem;
  }
  .cell-2 {
    min-width: 3rem;
    min-height: 3rem;
  }
  .cell-3 {
    min-width: 2rem;
    min-height: 2rem;
    font-size: 1.4rem;
  }
}

@media (max-width: 500px) {
  .cell-1 {
    min-width: 4rem;
    min-height: 4rem;
  }
  .cell-2 {
    min-width: 2.5rem;
    min-height: 2.5rem;
  }
  .cell-3 {
    min-width: 1.6rem;
    min-height: 1.6rem;
    font-size: 1.2rem;
  }
}

@media (max-width: 400px) {
  .cell-1 {
    min-width: 3rem;
    min-height: 3rem;
  }
  .cell-2 {
    min-width: 2rem;
    min-height: 2rem;
    font-size: 1.6rem;
  }
  .cell-3 {
    min-width: 1.3rem;
    min-height: 1.3rem;
    font-size: 1rem;
  }
}
*/
