@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*, ::before, ::after {
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    padding: 0;
    margin: 0;
    border: 0;

    text-decoration: none;
    box-sizing: border-box;
    user-select: none;
}

:root {
    --bg-body: #E1D4C9;
    --bg-container: #665F55;
    --bg-backdrop: #403F3D;

    --text-dark: #403F3D;
    --text-light: #E1D4C9;
    --text-accent: #B0907A;

    --border-light: #C1B6AD;
    --border-dark: #665F55;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-body);
    color: var(--text-dark);
}

.page {
    position: relative;
    max-width: 144rem;
    margin: 0 auto;
    padding: 2rem 4rem 4rem;
    opacity: 0;
    transition: .3s ease-in-out;

    overflow: hidden;
}

.loading {
    width: 48px;
    height: 48px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    transition: all .3s ease-in-out;
    opacity: 1;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #FFF #FFF transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent var(--text-accent) var(--text-accent);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
}
.loader::before {
    width: 32px;
    height: 32px;
    border-color: #FFF #FFF transparent transparent;
    animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
@keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
}

.opacity-0 {
    opacity: 0;
}

.opacity-1 {
    opacity: 1;
}

/*HEADER-TOP*/

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.burger-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
    z-index: 1;
}

.logo-img {
    display: block;
    width: 10rem;
    height: 6rem;
    cursor: pointer;
}

.logo-img::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/images/header/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    transition: .3s ease-in-out;
}

.nav {
    margin: 0 auto;
}

@media (hover: hover) {
    .logo-img:hover::after {
        transform: rotate3d(0, 0, 1, 360deg);
    }
}

.nav-list {
    display: flex;
}

.nav-item {
    list-style: none;
    margin-right: 4rem;
}

.nav-item:first-child {
    width: 11.7rem;
}

.nav-item:nth-child(2) {
    width: 4.8rem;
}

.nav-item:nth-child(3) {
    width: 8.6rem;
}

.nav-item:last-child {
    width: 8.5rem;
    margin-right: 0rem;
}

.nav-item-link {
    display: block;
    font-feature-settings: 'clig' off, 'liga' off;
    padding-bottom: 0.2rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-dark);
    line-height: 150%;
    text-align: center;
    transition: all .3s;
}

.nav-item-link::after {
    content: "";
    display: block;
    width: 100%;
    height: .2rem;
    background-color: rgb(65, 64, 62);
    transform: scale(0);
    transition: all .2s ease;
}

@media (hover: hover) {
    .nav-item-link:hover::after{
        transform: scale(1);
    }
}
.header-menu {
    display: flex;
    flex-wrap: wrap;
    width: 7.2rem;
    height: 2.8rem;
    justify-content: space-between;
    transition: all .3s;
    cursor: default;
}

.header-menu::after {
    content: "";
    display:block;
    width: 100%;
    height: .2rem;
    background-color: rgb(65, 64, 62);
    transition: all .2s ease;
}

.header-menu-link {
    font-feature-settings: 'clig' off, 'liga' off;
    width: 4.4rem;
    height: 2.4rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-dark);
    line-height: 150%;
    text-align: center;
}

.header-menu-img {
    display: block;
    height: 2rem;
}

.burger-btn {
    display: none;
    position: relative;
    z-index: 1;

    width: 4.4rem;
    height: 4.4rem;
    justify-content: center;
    align-items: center;

    border-radius: 10rem;
    border: .1rem solid var(--border-dark, #665F55);
    background-color: transparent;

    cursor: pointer;
}

.burger-lines {
    position: relative;
    width: 1.6rem;
    height: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.burger-line-1 {
    width: 100%;
    border: .1rem solid var(--text-dark);
    position: absolute;
    top: 25%;
    transition: all .3s ease;
}

.burger-line-2 {
    width: 100%;
    border: .1rem solid var(--text-dark);
    position: absolute;
    top: 75%;
    transition: all .3s ease;
}

.burger-line-to-cross-1 {
    top: 50%;
    transform: translate(-50% -50%);
    transform: rotate(-45deg);
}

.burger-line-to-cross-2 {
    top: 50%;
    transform: translate(-50% -50%);
    transform: rotate(45deg);
}

/*MENU*/

.menu {
    margin-bottom: 10rem;
}

.menu-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    align-self: stretch;
    margin-bottom: 4rem;
}

.menu-title {
    width: 80rem;
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

.menu-title span{
    color: var(--text-accent, #B0907A);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 6rem;
    font-style: italic;
    font-weight: 600;
    line-height: 125%;
}

.menu-tabs {
    width: 36.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.tab-item-1 {
    width: 11.5rem;
}

.tab-item-2 {
    width: 9rem;
}

.tab-item-3 {
    width: 12.4rem;
}

.tab-item {
    height: 4.6rem;
    display: flex;
    padding: .8rem 1.6rem .8rem .8rem;
    justify-content: center;
    align-items: center;
    gap: .8rem;
    border-radius: 10rem;
    border: .1rem solid var(--border-light, #C1B6AD);
    transition: all .3s ease;
    cursor: pointer;
    transition: all .3s ease;
}

@media (hover: hover) {
    .tab-item:hover {
        background: var(--bg-container, #665F55);
        border: .1rem solid var(--bg-container, #665F55);
    }
}

.tab-item-active {
    background: var(--bg-container, #665F55);
    border: .1rem solid var(--bg-container, #665F55);
    cursor: auto;
    pointer-events: none;
}

.tab-item-icon {
    width: 3rem;
    height: 3rem;
    display: flex;
    padding: .3rem .7rem;
    justify-content: center;
    align-items: center;
    border-radius: 10rem;
    background: var(--border-light, #C1B6AD);
    transition: all .3s ease;
}

.tab-item-icon-active {
    background: var(--background-body, #E1D4C9);
}

@media (hover: hover) {
    .tab-item:hover .tab-item-icon{
        background: var(--background-body, #E1D4C9);
    }
}

.tab-item-text {
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    transition: all .3s ease;
}

.tab-item-text-active {
    color: var(--text-light, #E1D4C9);
}

@media (hover: hover) {
    .tab-item:hover .tab-item-text{
        color: var(--text-light, #E1D4C9);
    }
}

.menu-items {
    gap: 4rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
    transition: all .2s ease-out;
}

.menu-item {
    display: flex;
    max-width: 31rem;
    height: 50.6rem;
    flex-direction: column;
    align-items: center;
    border-radius: 4rem;
    background-color: var(--bg-body);
    border: .1rem solid var(--border-light, #C1B6AD);

    cursor: pointer;

}

@media (hover: hover) {
    .menu-item:hover .item-box{
        background-size: 100% 100%;
    }
}

.item-box {
    width: 31rem;
    height: 31rem;
    flex-shrink: 0;
    border-radius: 4rem;
    background-size: 110% 110%;
    background-position: center;
    transition: all .3s ease-in-out;
}

.item-description {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
}

.item-text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.2rem;
    align-self: stretch;
}
.item-text-title {
    align-self: stretch;
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}
.item-text-p {
    align-self: stretch;
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.item-cost {
    align-self: stretch;
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

.ref-btn {
    display: flex;
    width: 6rem;
    height: 6rem;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 10rem;
    border: .1rem solid var(--border-dark, #665F55);
    margin: 4rem auto 10rem;
    cursor: pointer;

    display: none;
}

.ref-btn-svg {
    width: 2.4rem;
    height: 2.4rem;
    flex-shrink: 0;

    display: none;
}

/*MODAL*/

.layer {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--background-backdrop, rgba(64, 63, 61, 0.80));
    z-index: 4;
    transition: all .3s ease;
    opacity: 0;
}

.modal {
    position: fixed;
    display: none;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s ease;
    opacity: 0;
}

.modal-box {
    display: flex;
    width: 800px;
    height: 504px;
    padding: 16px 16px 16px 16px;
    justify-content: center;
    align-items: flex-start;

    border-radius: 40px;
    background: var(--background-body, #E1D4C9);

    align-items: flex-start;
    align-self: stretch;
}

.modal-img {
    width: 310px;
    height: 310px;
    flex-shrink: 0;
    background: url(../../assets/images/menu/coffee/coffee-0.png);
    background-position: center;

    border-radius: 40px;
}

.modal-description {
    height: 100%;
    width: 100%;
    display: flex;
    padding-left: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
}

.modal-title-title{
    align-self: stretch;

    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

.modal-title-text {
    align-self: stretch;

    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.modal-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.modal-size {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.modal-size-title {
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.size-btns {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 8px;
    align-self: stretch;
    flex-wrap: wrap;
    transition: all .3s ease;
}

.size-btn {
    height: 46px;
    display: flex;
    padding: 8px 16px 8px 8px;
    align-items: center;
    gap: 8px;

    border-radius: 100px;
    border: 1px solid var(--border-light, #C1B6AD);
    transition: all .3s ease;

    cursor: pointer;

}

@media (hover: hover) {
    .size-btn:hover,
    .additives-btn:hover {
        display: flex;
        padding: 8px 16px 8px 8px;
        justify-content: center;
        align-items: center;
        gap: 8px;

        border-radius: 100px;
        background: var(--background-container, #665F55);


    }
}

.btn-active {
    display: flex;
    padding: 8px 16px 8px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border-radius: 100px;
    background: var(--background-container, #665F55);

    pointer-events: none;
}

.size-btn-circle {
    width: 30px;

    display: flex;
    padding: 3px 7px 3px 8px;
    justify-content: center;
    align-items: center;

    border-radius: 100px;
    background: var(--border-light, #C1B6AD);

    transition: all .3s ease;
}

@media (hover: hover) {
    .size-btn:hover .size-btn-circle,
    .additives-btn:hover .additives-btn-circle {
        display: flex;
        padding: 3px 9px 3px 10px;
        justify-content: center;
        align-items: center;

        border-radius: 100px;
        background: var(--background-body, #E1D4C9);
    }
}

.btn-circle-active {
    display: flex;
    padding: 3px 9px 3px 10px;
    justify-content: center;
    align-items: center;

    border-radius: 100px;
    background: var(--background-body, #E1D4C9);
}

.size-btn-circle-text {
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    transition: all .3s ease;
}

@media (hover: hover) {
    .size-btn:hover .size-btn-circle-text,
    .additives-btn:hover .additives-btn-circle-text {
        color: var(--text-dark, #403F3D);
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;

        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
    }
}

.btn-circle-text-active {
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;


    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.size-btn-text {
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    transition: all .3s ease;
}

@media (hover: hover) {
    .size-btn:hover .size-btn-text,
    .additives-btn:hover .additives-btn-text {
        color: var(--text-light, #E1D4C9);
        font-feature-settings: 'clig' off, 'liga' off;

        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
    }
}

.btn-text-active {
    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.modal-additives {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;

}

.modal-additives-title {
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.additives-btns {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 6px;
    align-self: stretch;
    flex-wrap: wrap;
    transition: all .3s ease;
}

.additives-btn {
    display: flex;
    padding: 8px 16px 8px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border-radius: 100px;
    border: 1px solid var(--border-light, #C1B6AD);

    transition: all .3s ease;

    cursor: pointer;
}

.add-active {
    display: flex;
    padding: 8px 16px 8px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border-radius: 100px;
    background: var(--background-container, #665F55);

}

.additives-btn-circle {
    display: flex;
    width: 30px;
    padding: 3px 0px;
    justify-content: center;
    align-items: center;

    border-radius: 100px;
    background: var(--border-light, #C1B6AD);
    transition: all .3s ease;
}

.add-circle-active {
    display: flex;
    padding: 3px 9px 3px 10px;
    justify-content: center;
    align-items: center;

    border-radius: 100px;
    background: var(--background-body, #E1D4C9);
}

.additives-btn-circle-text {
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    transition: all .3s ease;
}

.add-circle-text-active {
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;


    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.additives-btn-text {
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    transition: all .3s ease;
}

.add-text-active {
    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.modal-total {
    display: flex;
    align-items: center;
    gap: 20px;
    align-self: stretch;
}

.modal-total-title {
    flex: 1 0 0;

    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

.modal-total-sum {
    flex: 1 0 0;

    color: var(--text-dark, #403F3D);
    text-align: right;
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

.modal-alert {
    display: flex;
    padding: 12px 0px;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;

    border-top: 1px solid var(--border-light, #C1B6AD);
}

.modal-alert-svg {
    width: 16px;
    height: 16px;
}

.modal-alert-text {
    flex: 1 0 0;

    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.modal-btn {
    display: flex;
    padding: 10px 78px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;

    border-radius: 100px;
    border: 1px solid var(--border-dark, #665F55);
    cursor: pointer;
    transition: all .3s ease;

    height: 44px;
}

@media (hover: hover) {
    .modal-btn:hover {
        border-radius: 100px;
        background: var(--background-container, #665F55);
    }
}

.modal-btn-text {
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;

    transition: all .3s ease;

}

@media (hover: hover) {
    .modal-btn:hover .modal-btn-text {
        color: var(--text-light, #E1D4C9);
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;

        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
    }
}

/*FOOTER*/

svg path {
    transition: all .3s ease;
}

.footer {
    display: flex;
    max-width: 136rem;
    padding: 10rem;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    align-self: stretch;

    border-radius: 4rem;
    background: var(--bg-container, #665F55);
}

.footer-offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
    flex: 1 0 0;
}

.footer-title {
    align-self: stretch;
}

.footer-title-text-1 {
    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

.footer-title-text-2 {
    color: var(--text-accent, #B0907A);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 6rem;
    font-style: italic;
    font-weight: 600;
    line-height: 125%;
}

.socials {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.footer-twitter {
    display: flex;
    width: 6rem;
    height: 6rem;
    justify-content: center;
    align-items: center;

    border-radius: 10rem;
    border: .1rem solid var(--border-light, #C1B6AD);

    background-color: transparent;
    transition: all .3s ease;
    cursor: pointer;
}

@media (hover: hover) {
    .footer-twitter:hover,
    .footer-twitter:hover svg path {
        background-color: #E1D4C9;
        stroke: #403F3D;
    }
}

.footer-instagram {
    display: flex;
    width: 6rem;
    height: 6rem;
    justify-content: center;
    align-items: center;

    border-radius: 10rem;
    border: .1rem solid var(--border-light, #C1B6AD);

    background-color: transparent;
    transition: all .3s ease;
    cursor: pointer;
}

@media (hover: hover) {
    .footer-instagram:hover,
    .footer-instagram:hover svg path {
        background-color: #E1D4C9;
        stroke: #403F3D;
    }
}

.footer-facebook {
    display: flex;
    width: 6rem;
    height: 6rem;
    justify-content: center;
    align-items: center;

    border-radius: 10rem;
    border: .1rem solid var(--border-light, #C1B6AD);

    background-color: transparent;
    transition: all .3s ease;
    cursor: pointer;
}

@media (hover: hover) {
    .footer-facebook:hover,
    .footer-facebook:hover svg path {
        background-color: #E1D4C9;
        stroke: #403F3D;
    }
}

.footer-info {
    width: 53rem;
    height: 18.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4rem;
    flex: 1 0 0;
}

.footer-info-title {
    width: 100%;
    height: 3rem;
    align-self: stretch;

    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Inter;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

.footer-contacts {
    width: 26.2rem;
    height: 11.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.6rem;
}

.contacts-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .2rem;
    list-style: none;
}

.contacts-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: .8rem;
}

.contacts-item::after {
    content: "";
    width: 100%;
    height: .2rem;
    background-color: #E1D4C9;
    transition: .3s ease-in-out;
    transform: scale(0);
}

@media (hover: hover) {
    .contacts-item:hover::after {
        transform: scale(1);
    }
}

.contacts-item:last-child {
    pointer-events: none;
}

.contacts-svg {
    width: 2rem;
    height: 2rem;
}

.contacts-text {
    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}



/*MEDIA*/


/*1430*/

@media (max-width: 1430px) {

    .menu-items {
        display: flex;
        max-width: 136rem;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
    }
}

/*1420*/

@media (max-width: 1420px) {

    .footer-info {
        width: 50%;
    }
}

/*1024*/

@media (max-width: 1024px) {

    .footer {
        flex-direction: column;
    }

    .footer {
        padding: 10rem 6rem;
    }

    .footer-offer {
        width: 100%;
    }

    .footer-info {
        width: 100%;
    }
}

/*920*/

@media (max-width: 920px) {

    .modal-box {
        display: flex;
        width: 688px;
        height: 626px;
        padding: 16px;
        justify-content: center;
        align-items: flex-start;

        border-radius: 40px;
        background: var(--background-body, #E1D4C9);

        align-items: flex-start;
        align-self: stretch;
    }

}


/*820*/

@media (max-width: 820px) {

    .menu-title {
        width: 100%;
    }

}

/*768*/

@media (max-width: 768px) {

    .burger-btn {
        display: flex;
    }

    .burger-menu {
        position: absolute;
        top: 0;
        left: 100%;

        flex-direction: column;
        justify-content: flex-start;
        width: 100vw;
        /* width: 100%; */
        /* height: 72.4rem; */
        height: 100dvh;
        padding: 140px 40px 60px 40px;
        align-items: center;
        gap: 100px;
        flex: 1 0 0;

        background: var(--background-body, #E1D4C9);

        transition: all .3s ease-in-out;
    }

    .burger-menu-opened {
        left: 0%;
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
        gap: 60px;
        align-self: stretch;
    }

    .nav-item {
        height: 4rem;
        margin: 0;
        width: auto;
    }

    .nav-item:first-child,
    .nav-item:nth-child(2),
    .nav-item:nth-child(3),
    .nav-item:last-child {
        width: auto;
    }

    .nav-item-link {
        font-size: 32px;
        line-height: 125%;
    }

    .header-menu {
        height: auto;
        width: auto;
        /* flex-wrap: nowrap; */
        justify-content: center;
        /* gap: 6rem; */
    }

    .header-menu-link {
        width: auto;
        height: auto;

        color: var(--text-dark, #403F3D);
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 125%;

        margin-right: 1.6rem;
    }

    .header-menu-img {
        display: block;
        height: 4rem;
    }

    .menu-title {
        width: 100%;
    }

    .menu-item:nth-child(5),
    .menu-item:nth-child(6),
    .menu-item:nth-child(7),
    .menu-item:nth-child(8) {
        display: none;
    }

    .ref-btn {
        display: flex;
    }

    .ref-btn-svg {
        display: flex;
    }

}

/*720*/

@media (max-width: 720px) {

    .page {
        padding: 2rem 1.6rem 4rem;
    }

    .modal-img {
        display: none;
    }

    .modal-box {
        width: 342px;
       }

    .modal-description {
        padding-left: 0;
    }
}

/*660*/

@media (max-width: 660px) {

    .menu-title {
        font-size: 3.2rem;
        line-height: 125%;
    }

    .menu-title span{
        font-size: 3.2rem;
        line-height: 125%;
    }

    .menu-tabs {
        gap: 0.8rem;
    }

    .footer {
        padding: 6rem 1.6rem;
        gap: 4rem;
    }

    .footer-title-text-1,
    .footer-title-text-2 {
        display: inline;
        font-size: 3.2rem;
    }

}



/*379*/

@media (max-width: 378px) {

    .menu-tabs {
        width: 100%;
        gap: .4rem;
    }
}

@media (max-width: 358px) {

    .menu-tabs {
        flex-wrap: wrap;
    }
}

/*330*/

@media (max-width: 330px) {

    .contacts-text {
        font-size: 1.2rem;
    }

    .item-box {
        width: 28rem;
        height: 28rem;
    }
}
