@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*, ::before, ::after {
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    padding: 0;
    margin: 0;
    border: 0;

    text-decoration: none;
    box-sizing: border-box;
    user-select: none;
}

:root {
    --bg-body: #E1D4C9;
    --bg-container: #665F55;
    --bg-backdrop: #403F3D;

    --text-dark: #403F3D;
    --text-light: #E1D4C9;
    --text-accent: #B0907A;

    --border-light: #C1B6AD;
    --border-dark: #665F55;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-body);
    color: var(--text-dark);
}

.page {
    width: 144rem;
    margin: 0 auto;
    padding: 2rem 4rem 4rem;
    opacity: 0;
    transition: .3s ease-in;
}

/*HEADER-TOP*/

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.logo-img {
    display: block;
    width: 10rem;
    height: 6rem;
    cursor: pointer;
}

.logo-img::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/images/header/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    transition: .3s ease-in-out;
}

.logo-img:hover::after {
    transform: rotate3d(0, 0, 1, 360deg);
}

.nav-list {
    display: flex;
}

.nav-item {
    list-style: none;
    margin-right: 4rem;
}

.nav-item:first-child {
    width: 11.7rem;
}

.nav-item:nth-child(2) {
    width: 4.8rem;
}

.nav-item:nth-child(3) {
    width: 8.6rem;
}

.nav-item:last-child {
    width: 8.5rem;
    margin-right: 0rem;
}

.nav-item-link {
    display: block;
    font-feature-settings: 'clig' off, 'liga' off;
    padding-bottom: 0.2rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-dark);
    line-height: 150%;
    text-align: center;
    transition: all .3s;
}

.nav-item-link::after {
    content: "";
    display: block;
    width: 100%;
    height: .2rem;
    background-color: rgb(65, 64, 62);
    transform: scale(0);
    transition: all .2s ease;
}

.nav-item-link:hover::after{
    transform: scale(1);
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    width: 7.2rem;
    height: 2.8rem;
    justify-content: space-between;
    transition: all .3s;
    cursor: default;
}

.header-menu::after {
    content: "";
    display:block;
    width: 100%;
    height: .2rem;
    background-color: rgb(65, 64, 62);
    transition: all .2s ease;
}

.header-menu-link {
    font-feature-settings: 'clig' off, 'liga' off;
    width: 4.4rem;
    height: 2.4rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-dark);
    line-height: 150%;
    text-align: center;
}

.header-menu-img {
    display: block;
    height: 2rem;
}

/*MENU*/

.menu {
    margin-bottom: 10rem;
}

.menu-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    align-self: stretch;
    margin-bottom: 4rem;
}

.menu-title {
    width: 80rem;
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

.menu-title span{
    color: var(--text-accent, #B0907A);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 6rem;
    font-style: italic;
    font-weight: 600;
    line-height: 125%;
}

.menu-tabs {
    width: 36.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.tab-item-1 {
    width: 11.5rem;
}

.tab-item-2 {
    width: 9rem;
}

.tab-item-3 {
    width: 12.4rem;
}

.tab-item {
    height: 4.6rem;
    display: flex;
    padding: 8px 16px 8px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid var(--border-light, #C1B6AD);
    transition: all .3s ease;
    cursor: pointer;
}

.tab-item:hover {
    background: var(--bg-container, #665F55);
    border: 1px solid var(--bg-container, #665F55);
}

.tab-item-active {
    background: var(--bg-container, #665F55);
    border: 1px solid var(--bg-container, #665F55);
    cursor: auto;
}

.tab-item-icon {
    width: 3rem;
    height: 3rem;
    display: flex;
    padding: 3px 7px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: var(--border-light, #C1B6AD);
    transition: all .3s ease;
}

.tab-item-icon-active {
    background: var(--background-body, #E1D4C9);
}

.tab-item:hover .tab-item-icon{
    background: var(--background-body, #E1D4C9);
}

.tab-item-text {
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    transition: all .3s ease;
}

.tab-item-text-active {
    color: var(--text-light, #E1D4C9);
}

.tab-item:hover .tab-item-text{
    color: var(--text-light, #E1D4C9);
}

.menu-items {
    display: flex;
    max-width: 1360px;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 40px;
    flex-wrap: wrap;
}

.menu-item {
    display: flex;
    max-width: 31rem;
    height: 506px;
    flex-direction: column;
    align-items: center;
    border-radius: 40px;
    border: 1px solid var(--border-light, #C1B6AD);
}

.item-box {
    width: 310px;
    height: 310px;
    flex-shrink: 0;
    border-radius: 40px;
    background-size: 110% 110%;
    background-position: center;
    background-image: url(../../assets/images/menu/coffee/coffee-1.jpg);
    transition: all .3s ease-in-out;
}

.item-box:hover {
    background-size: 100% 100%;
}

.item-description {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
}

.item-text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}
.item-text-title {
    align-self: stretch;
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}
.item-text-p {
    align-self: stretch;
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.item-cost {
    align-self: stretch;
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

.item-box-1 {
    background-image: url(../../assets/images/menu/coffee/coffee-1.jpg);
}
.item-box-2 {
    background-image: url(../../assets/images/menu/coffee/coffee-2.jpg);
}
.item-box-3 {
    background-image: url(../../assets/images/menu/coffee/coffee-3.jpg);
}
.item-box-4 {
    background-image: url(../../assets/images/menu/coffee/coffee-4.jpg);
}
.item-box-5 {
    background-image: url(../../assets/images/menu/coffee/coffee-5.jpg);
}
.item-box-6 {
    background-image: url(../../assets/images/menu/coffee/coffee-6.jpg);
}
.item-box-7 {
    background-image: url(../../assets/images/menu/coffee/coffee-7.jpg);
}
.item-box-8 {
    background-image: url(../../assets/images/menu/coffee/coffee-8.jpg);
}

/*FOOTER*/

svg path {
    transition: all .3s ease;
}

.footer {
    display: flex;
    max-width: 136rem;
    padding: 10rem;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    align-self: stretch;

    border-radius: 4rem;
    background: var(--bg-container, #665F55);
}

.footer-offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
    flex: 1 0 0;
}

.footer-title {
    align-self: stretch;
}

.footer-title-text-1 {
    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

.footer-title-text-2 {
    color: var(--text-accent, #B0907A);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 6rem;
    font-style: italic;
    font-weight: 600;
    line-height: 125%;
}

.socials {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.footer-twitter {
    display: flex;
    width: 6rem;
    height: 6rem;
    justify-content: center;
    align-items: center;

    border-radius: 10rem;
    border: .1rem solid var(--border-light, #C1B6AD);

    background-color: transparent;
    transition: all .3s ease;
    cursor: pointer;
}

.footer-twitter:hover,
.footer-twitter:hover svg path {
    background-color: #E1D4C9;
    stroke: #403F3D;
}

.footer-instagram {
    display: flex;
    width: 6rem;
    height: 6rem;
    justify-content: center;
    align-items: center;

    border-radius: 10rem;
    border: .1rem solid var(--border-light, #C1B6AD);

    background-color: transparent;
    transition: all .3s ease;
    cursor: pointer;
}

.footer-instagram:hover,
.footer-instagram:hover svg path {
    background-color: #E1D4C9;
    stroke: #403F3D;
}

.footer-facebook {
    display: flex;
    width: 6rem;
    height: 6rem;
    justify-content: center;
    align-items: center;

    border-radius: 10rem;
    border: .1rem solid var(--border-light, #C1B6AD);

    background-color: transparent;
    transition: all .3s ease;
    cursor: pointer;
}

.footer-facebook:hover,
.footer-facebook:hover svg path {
    background-color: #E1D4C9;
    stroke: #403F3D;
}

.footer-info {
    width: 53rem;
    height: 18.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4rem;
    flex: 1 0 0;
}

.footer-info-title {
    width: 53rem;
    height: 3rem;
    align-self: stretch;

    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Inter;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

.footer-contacts {
    width: 26.2rem;
    height: 11.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.6rem;
}

.contacts-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .2rem;
    list-style: none;
}

.contacts-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: .8rem;
}

.contacts-item::after {
    content: "";
    width: 100%;
    height: .2rem;
    background-color: #E1D4C9;
    transition: .3s ease-in-out;
    transform: scale(0);
}

.contacts-item:hover::after {
    transform: scale(1);
}

.contacts-svg {
    width: 2rem;
    height: 2rem;
}

.contacts-text {
    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}